@charset "utf-8";
@use "../common/bp";

// クラシックエディタ内のtable（tablepressプラグイン）
.table-wrapper {  
    @media screen and (max-width:1100px) {
        overflow-x: scroll;
        padding: 0 0 1rem;
        scrollbar-color: #e4dbd2 #CFCFCF;
        margin: 0 -20px 0 auto;
        width: calc(100% + 20px);
    }

    .table {
        th {
            @media screen and (max-width:600px) {
                min-width: 175px;
            }
        }
    }
}

// blog__data内にYoutube埋め込みがあった場合のスタイル
.youtube {
    aspect-ratio: 16/9;
    width: 100%;

    iframe {
        display: block;
        height: 100%;
        width: 100%;
    }
}

// クラシックエディタ内のCTA（Shortcodes Ultimateプラグイン）
#blog-single {
    article {
        .blog__data {

            .su-button {
                background: none !important;
                border: none !important;
                margin: 0 auto;
                width: fit-content;

                &:hover {
                    opacity: 1 !important;

                    span {
                        background: #FAF6EF !important;

                        svg {
                            path {
                                fill: #AD8448;
                            }
                        }
                    }
                }

                span {
                    border: 1px solid #333 !important;
                    border-radius: 0 !important;
                    color: #333 !important;
                    display: block !important;
                    font-size: 15px !important;
                    line-height: normal !important;
                    margin: 0 auto;
                    padding: 19px 100px 18px 50px !important;
                    position: relative;
                    text-decoration: none !important;
                    transition: background-color .3s ease, color .3s ease;
                    width: fit-content;
                
                    svg {
                        position: absolute;
                        right: 50px;
                        top: calc(50% - 4px);
                        transition: filter .3s ease;

                        path {
                            fill: #333;
                            transition: fill .3s ease;
                        }
                    }
                }
            }
        }
    }
}