@charset "utf-8";
@use "../common/bp";

// クラシックエディタ内のtable（tablepressプラグイン）
.tablepress-wrapper {  
    @media screen and (max-width:780px) {
        margin: 0 -20px 0 auto;
        overflow-x: scroll;
        scrollbar-color: #8A6D4C #CFCFCF;
        width: calc(100% + 20px);
    }

    .tablepress {
        th {
            @media screen and (max-width:780px) {
                min-width: 175px;
            }
        }
    }
}

// クラシックエディタ内のCTA（Shortcodes Ultimateプラグイン）
#blog-single {
    article {
        .blog__data {

            .su-button {
                background: none !important;
                border: none !important;
                margin: 0 auto;
                width: fit-content;

                &:hover {
                    opacity: 1 !important;

                    span {
                        background: #333 !important;
                        color: #fff !important;

                        &::after {
                            filter: brightness(0) invert(1);
                        }
                    }
                }

                span {
                    border: 1px solid #333 !important;
                    border-radius: 0 !important;
                    color: #333 !important;
                    display: block !important;
                    font-size: 15px !important;
                    line-height: normal !important;
                    margin: 0 auto;
                    padding: 19px 100px 18px 50px !important;
                    position: relative;
                    text-decoration: none !important;
                    transition: background-color .3s ease, color .3s ease;
                    width: fit-content;
                
                    &::after {
                        background: url(../images/blog_arrow.svg) no-repeat center center/contain;
                        content: "";
                        filter: brightness(1) invert(0);
                        display: block;
                        height: 9px;
                        position: absolute;
                        right: 50px;
                        top: calc(50% - 4px);
                        transition: filter .3s ease;
                        width: 41px;
                    }
                }
            }
        }
    }
}