@charset "utf-8";
@use "../common/bp";

#works {
    padding: 30vh 1rem 10rem;
    background: #e8e3df;
    @include bp.tb() {
        padding-bottom: 20rem;
    }
    article {
        margin: 0 auto;
        max-width: 160rem;
        .page-title {
            margin-bottom: 1rem;
            padding-bottom: 2rem;
            font-size: clamp(1.6rem, 0.865rem + 0.6vw, 2rem);
            border-bottom: 1px solid #000;
        }
        .category {
            display: flex;
            gap: 1rem;
            font-size: 1.2rem;
            margin-bottom: 10rem;
            @include bp.pc() {
                margin-bottom: 20rem;
            }
        }
        .contents {
            .list {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
                gap: 5rem;
                @include bp.pc() {
                    grid-template-columns: repeat(3, 1fr);
                    gap: 10rem 5rem;
                }
                li {
                    a {
                        display: grid;
                        gap: 2rem;
                    }
                    .works {
                        &__title {
                            order: 2;
                        }
                        &__hash {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 1em;
                            padding-top: 1rem;
                            a {
                                display: block;
                                &::before {
                                    content: "#";
                                }
                            }
                        }
                        &__image {
                            order: 1;
                        }
                    }
                }
            }
        }
    }
}

#works-single {
    padding: 30vh 2rem 10rem;
    background: #e8e3df;
    article {
        max-width: 160rem;
        margin-inline: auto;
        .page-title {
            font-size: clamp(1.6rem, 0.865rem + 0.6vw, 2rem);
            margin-bottom: 5rem;
        }
        .works {
            display: grid;
            max-width: 136rem;
            margin-inline: auto;
            &__wrapper {
                order: 2;
                display: grid;
                gap: 3rem;
                margin-bottom: 13rem;
                @include bp.tb() {
                    grid-template-columns: 1fr 1fr;
                }
                div {
                    display: grid;
                    gap: 3rem;
                }
            }
            &__title {
                font-size: clamp(1.6rem, 0.865rem + 0.6vw, 2rem);
            }
            &__cate {
                font-size: 1.2rem;
            }
            &__prefectures {
                font-size: 1.2rem;
            }
            &__tag {
                display: flex;
                gap: 2rem;
                font-size: 1.2rem;
                span {
                    a {
                        &::before {
                            content: "#";
                        }
                    }
                }
            }
            &__text {
                font-size: 1.6rem;
            }
            &__data {
                order: 3;
                p {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    gap: 20px 0;
                    .vertically-long {
                        width: 49%;
                        max-width: 66rem;
                    }
                }
            }
            &__image {
                order: 1;
                margin-inline: calc(50% - 50vw);
                margin-bottom: 10rem;
                @include bp.tb() {
                    margin-bottom: 20rem;
                }
            }
        }
    }
}