@charset "utf-8";
@use "../common/bp";

#contact-confirm {
    background-color: #e6e1dd;
    article {
        margin: 0 auto;
        max-width: 160rem;
        .wrapper {
            h2 {
                font-family: "EB Garamond", serif;
                font-size: 2.6rem;
                font-style: italic;
                text-transform: none;
                padding-bottom: 2rem;
                border-bottom: 1px solid #050202;
                margin-bottom: 10rem;
            }
            .mailform {
                margin-inline: auto;
                max-width: 110rem;
                .text_check {
                    margin-bottom: 10rem;
                }
                .text {
                    line-height: 2.5;
                    margin-bottom: 10rem;
                }
                form {
                    text-transform: none;
                    .form {
                        margin-bottom: 10rem;
                    }
                    .enquete {
                        border-top: 1px solid #000;
                        border-bottom: 1px solid #000;
                        padding-top: 10rem;
                        margin-bottom: 5rem;
                        &+p {
                            margin-bottom: 10rem;
                        }
                    }
                    dl {
                        display: grid;
                        gap: 2rem;
                        margin-bottom: 10rem;
                        div {
                            display: grid;
                            gap: 1rem;
                            @include bp.tb() {
                                gap: 0;
                                grid-template-columns: 15em 1fr;
                            }
                            .required {
                                display: flex;
                                gap: .5rem;
                                align-items: center;
                                &::after {
                                    content: "*";
                                }
                            }
                            .check {
                                p {
                                    display: flex;
                                    gap: 5rem;
                                    label {
                                        position: relative;
                                        display: flex;
                                        align-items: center;
                                        gap: .5rem;
                                        &::before {
                                            content: "";
                                            color: transparent;
                                            width: 1em;
                                            aspect-ratio: 1/1;
                                            border: 1px solid #9f9896;
                                        }
                                        &::after {
                                            content: "✓";
                                            position: absolute;
                                            top: 0;
                                            left: .2rem;
                                            color: transparent;
                                        }
                                        &:has(input[type="radio"]:checked), &:has(input[type="checkbox"]:checked) {
                                            &::after {
                                                color: #000;
                                            }
                                        }
                                        input[type="radio"], input[type="checkbox"] {
                                            display: none;
                                        }
                                    }
                                }
                            }
                            .wpcf7-list-item {
                                margin: 0 2rem 0 0;
                            }
                            .genre {
                                .wpcf7-list-item {
                                    display: block;
                                    margin-bottom: 1rem;
                                    @include bp.tb() {
                                        display: inline-block;
                                        margin-bottom: 0;
                                    }
                                }
                            }
                            .soil {
                                p {
                                    span {
                                        span {
                                            .wpcf7-list-item {
                                                &:last-of-type {
                                                    opacity: 0;
                                                    pointer-events: none;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .textarea {
                                p {
                                    white-space: pre-wrap;
                                }
                            }
                        }
                        &+.text {
                            border-top: 1px solid #000;
                            padding-top: 10rem;
                            margin-bottom: 5rem;
                        }
                    }
                    .button {
                        text-align: center;
                        cursor: pointer;
                        &.back {
                            margin-bottom: 3rem;
                            &::after {
                                content: "";
                                visibility: hidden;
                                display: inline-block;
                                background-color: #23282d;
                                opacity: 0.75;
                                width: 24px;
                                height: 24px;
                                border: none;
                                border-radius: 100%;
                                padding: 0;
                                margin: 0 24px;
                                position: relative;
                            }
                        }
                        input {
                            max-width: 60rem;
                            width: 100%;
                            padding: 2rem 4rem;
                            color: #fff;
                            background-color: #000;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
    }
}